@use 'variables' as *;

.footer {
  display: flex;
  align-items: center;

  background-color: $color-black;
  padding: 92px 32px 91px;
  justify-content: center;

  @media (max-width: 600px) {
    height: 100%;
    flex-direction: column;
    padding: 60px 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 1280px;
  }

  &__nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 32px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    .column {
      display: flex;
      flex-direction: column;
      min-width: 0;
    }
  }

  &__link {
    margin-bottom: 16px;
    text-decoration: none;
    color: $color-white;
    word-break: break-word;
  }

  &__link.title {
    color: $color-dark;
  }

  &__copy {
    font-size: 12px;
    color: $color-dark1;
  }
}
