@use 'variables' as *;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);

  &__container {
    text-align: start;
  }

  &__title {
    font-size: 64px;
    margin-bottom: 16px;

    @media (max-width: 600px) {
      font-size: 26px;
      width: min-content;
      font-weight: 500;
      line-height: 110%;
    }

  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__button {
    display: inline-block;
    padding: 12px 24px;
    background-color: $color-red;
    color: $color-white;
    text-decoration: none;
  }
}